<!-- <div [innerHTML]="this.data.chapterStr">
  bible works!
</div>
<div>
  93w832
</div> -->


<!-- <select [(ngModel)]="data.selected.book_id" (ngModelChange)="onSelectBook($event)">
  <option [value]=k.id *ngFor="let k of data.books">{{k.nameLong}}</option>
</select> -->

<!-- <div>
  <table>
    <tr *ngFor="let k of data.books">
      <td>{{k.nameLong}}</td>
    </tr>
  </table>
</div> -->
<!-- <ion-grid> -->
<ion-row>
  <ion-col size="8">
    <!-- <ion-scroll scrollY="true" style="height: 200px;"> -->
    <!-- <div style="height: 800px; overflow-y: auto;"> -->
    <ion-list>
      <ion-item *ngFor="let k of data.books">
        <ion-label (click)="onSelectBook(k)">{{k.name}}</ion-label>
        <!-- <ion-label >{{k}}</ion-label> -->

      </ion-item>
    </ion-list>
    <!-- </div> -->
    <!-- </ion-scroll> -->
  </ion-col>
  <ion-col size="2">
      <ion-list>
        <ion-item *ngFor="let k of data.chapters">
          <ion-label (click)="onSelectChapter(k)">{{k.chpter_id}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  <ion-col size="2">
      <ion-list>
        <ion-item *ngFor="let k of data.version;let i=index">
          <ion-label (click)="onSelectVersion(k)">{{i+1}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
</ion-row>
<!-- </ion-grid> -->



<!-- <select [(ngModel)]="data.selected.chapter_id" (ngModelChange)="onSelectChapter($event)">
  <option [value]=k.id *ngFor="let k of data.chapters">{{k.number}}</option>
</select>

<select [(ngModel)]="data.selected.version_id" (ngModelChange)="onSelectVersion($event)">
  <option [value]=k.id *ngFor="let k of data.version;let i=index">{{i+1}}</option>
</select> -->
<!-- <ion-select >
  <ion-select-option *ngFor="let k of data.books">
    {{k.nameLong}}
  </ion-select-option>
</ion-select> -->

<!-- <mat-form-field>
  <mat-label>Cars</mat-label>
  <select>
    <option value="volvo">Volvo</option>
  </select>
</mat-form-field> -->