.passages {
    position: absolute;
    color: #474242;
    bottom: 13px;
    font-size: 10px;
    text-align: center;
    width: 70%;
}

.imgcontainer {
    position: relative;
    text-align: center;
    color: white;

}

.passages1 {
    position: absolute;
    color: #474242;
    bottom: 130px;
    /* font-size: 10px; */
    /* text-align: center; */
    width: 70%;
}